@charset "UTF-8";

body {
    background-color: aliceblue;
    font-size: 2rem;
}

h1 {
    text-align: center;
    font-weight: normal;
    font-family: Arial;
    font-size: 2rem
}

section {
    background-color: rgb(6, 0, 43);
    font-weight: bold;
    display: flex;
    height: 105px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

div {
    flex-grow: 1;

}
.I {
    background-color: rgb(255, 0, 191);
    height: 100px;
    width: 100px;
}

.II {
    background-color: rgb(21, 255, 0);
    height: 100px;
    width: 100px;
}
.III {
    background-color: rgb(251, 255, 0);
    height: 100px;
    width: 100px;
}
.IV {
    background-color: rgb(0, 174, 255);
    height: 100px;
    width: 100px;
}
.V {
    background-color: rgb(255, 0, 0);
    height: 100px;
    width: 100px;
}

main {
    width: 80%;
    margin: 2rem auto;
    border: 2px solid black;
    height: 500px;
    display: flex;
}

main .sidebar {
    background-color: blueviolet;
    flex: 1 2 300px;
}

main .maincontent {
    background-color: aquamarine;
    flex: 2 1 800px;
}